In [70]:
import numpy as np
import pandas as pd
import random
import pickle
import itertools

In [6]:
## USE THIS CODE TO IMPORT DATA

file_name = 'data/results/results_toydata.pkl'
open_file = open(file_name, "rb")
loaded_list = pickle.load(open_file)
open_file.close()

In [89]:
##[(supplier_lat, supplier_lon), (receiver_lat, receiver_lon), distance, volume_transferred]
loaded_list[0:5

[[(36.92375, -120.10412),
  (36.23867035, -120.38221741),
  49.70567148469709,
  363.79758],
 [(36.92375, -120.10412),
  (36.24571609, -120.33669281),
  48.508587563657905,
  955.40343],
 [(36.92375, -120.10412),
  (36.25873947, -120.32772064),
  47.51045700832812,
  818.13738],
 [(36.92375, -120.10412),
  (36.224933, -120.303681),
  49.447437294482434,
  240.09383],
 [(36.92375, -120.10412),
  (36.255945, -120.34494),
  47.95499897549916,
  158.00688]]

In [90]:
small_list = loaded_list[0:5]
small_list

[[(36.92375, -120.10412),
  (36.23867035, -120.38221741),
  49.70567148469709,
  363.79758],
 [(36.92375, -120.10412),
  (36.24571609, -120.33669281),
  48.508587563657905,
  955.40343],
 [(36.92375, -120.10412),
  (36.25873947, -120.32772064),
  47.51045700832812,
  818.13738],
 [(36.92375, -120.10412),
  (36.224933, -120.303681),
  49.447437294482434,
  240.09383],
 [(36.92375, -120.10412),
  (36.255945, -120.34494),
  47.95499897549916,
  158.00688]]

In [77]:
#merged = list(itertools.chain(*small_list))
#merged

In [62]:
#un-combine the lat and lon since they are causing headaches
# small_list = loaded_list[0:1000]

# flat_small_list = [str(item).split(', ') for item in small_list]
# flat_small_list = [str(item).split(', ') for item in small_list]
# flat_small_list = [str(item).replace('(','') for item in flat_small_list]
# flat_small_list = [str(item).replace(')','') for item in flat_small_list]
# flat_small_list = [str(item).replace('[','') for item in flat_small_list]
# flat_small_list = [str(item).replace(']','') for item in flat_small_list]

# flat_small_list[0:5][0]

"'36.92375', '-120.10412', '36.23867035', '-120.38221741', '49.70567148469709', '363.79758'"

In [64]:
df = pd.DataFrame(loaded_list, columns = ['supplier', 'receiver', 'distance', 'volume'])
df.head()

                 supplier                      receiver   distance     volume
0  [36.92375, -120.10412]  [36.23867035, -120.38221741]  49.705671  363.79758
1  [36.92375, -120.10412]  [36.24571609, -120.33669281]  48.508588  955.40343
2  [36.92375, -120.10412]  [36.25873947, -120.32772064]  47.510457  818.13738
3  [36.92375, -120.10412]      [36.224933, -120.303681]  49.447437  240.09383
4  [36.92375, -120.10412]       [36.255945, -120.34494]  47.954999  158.00688

In [92]:
supplier_split = df.supplier.to_list()
supplier_split[0:5]

numpy.record

In [91]:
receiver_split = df.receiver.to_list()
receiver_split[0:5][0][0]

36.23867035

AttributeError: 'list' object has no attribute 'replace'

/Users/ashleymoss/anaconda3/lib/python3.7/site-packages/pandas/core/computation/expressions.py:69: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/Users/ashleymoss/anaconda3/lib/python3.7/site-packages/pandas/core/computation/expressions.py:69: FutureWarning: elementwise == comparison failed and returning scalar instead; this will raise an error or perform elementwise comparison in the future.
  return op(a, b)

Empty DataFrame
Columns: [supplier, receiver, distance, volume]
Index: []

In [ ]:
latlon = records[0:1000] #[ (51.249443914705175, -0.13878830247011467), (51.249443914705175, -0.13878830247011467), (51.249768239976866, -2.8610415615063034)]
mapit = folium.Map( location=[39.4598465 , -121.94542694], zoom_start=6 )
for coord in latlon:
    folium.Marker( location=[ coord[0], coord[1] ], fill_color='#43d9de', radius=8 ).add_to( mapit )
    
mapit